<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Ajax</h1>
    <script src="/js/jquery.min.js"></script>
    <script>
        let httpUrl = '/search?searchKey=<%- url%>'
        $.get(httpUrl).then((res) => {
            console.log(res);
            $.each(res, (i, item) => {
                $('body').append('<h1>' + res[i].bookname + '</h1>');
            })
        })
    </script>
</body>

</html>